*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(44, 44, 67);
    text-align: center;

}

h1{
    color: #fffafa;
   
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    
} 

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
    gap: 1.5vmin;
    
    
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3 );
    font-size: 8vmin;
    color: rgb(158, 42, 43);
    background-color: #ffffc7;
}

#reset-btn{
    padding: 1rem;
    background-color: rgb(13, 19, 33);
    color: #fff;
    font-size: 1.25rem ;
    border: none;
    border-radius: 1rem;

}

#new-btn{
    padding: 1rem;
    background-color: rgb(13, 19, 33);
    color: #fff;
    font-size: 1.25rem ;
    border: none;
    border-radius: 1rem;
}

#msg{
    color:#ffffc7 ;
    font-size: 8vmin; 
}

.msg-container{
    height: 40vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

.hide{
    display: none;
}